h1{
color: #ffff00;
font-size: 40px;
padding: 30px;
font-family: sans-serif;
font-weight: 600;



}
.container {
    position: relative;

    color: black;

}
.buttons {
  margin: 5;
  padding: 5px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.buttons a { padding-right: 20px;}


.content{
  display: flex;
}

.sidearticles img{
  width: 100%;

}

.main{

  width: 99%;
  display: block;
  padding: 7px;
}
.sidebar{
  width: 100%;
  display: block;
  padding: 7px;



}
.rubbesidebar{

}
.sidearticles{
  border: 1px solid white;
  /*  display: flex;
*/

}
body{
  background-color: rgb(220,220,220);
}
img{
  width: 100%;
}

.sidearticles img{
  width: 100%;
}





/* For mobile */
@media (max-width: 600px) {


.content{
display: block;
width: 100%;

}
.main{
  width: 100%;
}
.sidebar{
  width: 100%;
}
.buttons{
  width: 100%;
}
}
